<div class="toolbar" role="banner">
  <span>Yvonne's Angular Project</span>
    <div class="spacer">
    <a aria-label="open Documentation" target="_blank" rel="noopener" href="https://www.tensorflow.org/tensorboard/tensorboard_projector_plugin" title="open Documentation">
     <mat-icon>help_outline</mat-icon>
    </a>
    <a style="margin-left: 10px;" aria-label="Angular on YouTube" target="_blank" rel="noopener" href="https://youtube.com/angular" title="YouTube">
      <mat-icon>bug_report</mat-icon>
    </a>
  </div>
</div>
